[Unit]
Description=omnik
After=network.target

[Service]
ExecStart=/home/pi/omnik/read.py
Restart=on-failure
Type=simple
User=pi

[Install]
WantedBy=multi-user.target
